<div class="test-data mb-2">
  <p>
    <a class="btn btn-danger btn-sm" data-toggle="collapse" href="#testData" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      Test Data
    </a>

  </p>
  <div class="collapse" id="testData">
    <div class="card card-body">
      <div class="row">
        <div class="col-4">
          <strong>Account</strong>
          <hr>
          <p>email1: asd@asd</p>
          <p>email2: asd2@asd</p>
          <p>password: asd</p>
        </div>
        <div class="col-8">
          <strong>facebook</strong>
          <hr>
          <p>email: restaurant_eppxhys_test@tfbnw.net</p>
          <p>password: asD333</p>
        </div>
      </div>
    </div>
  </div>
</div>