<form ref='uploadForm' id='uploadForm' action='/add' method='post' encType="multipart/form-data">
  <input type="file" id="input" name="uploadFile">
  <input type="text" name="name">
  <button type="submit">ok</button>
</form>