html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-y: scroll;
}

body,
button,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 18px;
}

button {
  padding: 0;
  margin: 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

nav > a {
  font-family: 'Love Ya Like A Sister', cursive;
}

.list-unstyled {
  width: 90%;
  margin: 0 auto;
}

.media {
  border: 2px solid transparent;
  border-bottom-color: #dee2e6;
  border-radius: 0.3rem;
}

.media-body {
  letter-spacing: 1.2px;
  line-height: 1.2;
}

.media:hover {
  border-color: #008bf8;
}

.restaurantImg > img {
  max-width: 100%;
}

.far:hover {
  color: lightslategray;
}

.letter-space {
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.detail-btn > a,
.detail-btn button {
  padding: 0.1rem 0.4rem;
  font-size: 1rem;
  line-height: 1.2;
}

.starts,
.star {
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
}

.stars {
  display: inline-block;
  width: 50%;
  height: 25px;
  vertical-align: middle;
}

.stars,
.star,
i.fa-star-gray {
  color: #cbcbcb;
}
.stars,
.star,
i.fa-star-yellow {
  color: #fcb040;
}
.star > .fa {
  font-size: 25px;
}
.percent-star {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.detail-starts .fa {
  font-size: 20px;
}

a.alert-link {
  text-decoration: underline;
}
